

.logo{
    width: 50%;
    
    margin-top: 20px;
}
.sidebar-content{
    background-color: #45474B; 
    position: fixed; 
          
}
.offcanvas{
    background-color: #3887BE;
}
.btn{
    color: white;
    font-weight:500
}
.btn-toggle:hover{
    background-color: #495E57;
    color: white;
}
.list-item{
    text-decoration: none;
    color: white;

}
.arrow-icon{
    color: white;
    
}

.col-9{
    margin-left: 220px;
    font-family:'Serif';
    font-size: 16px;
    padding: 30px;
    text-align: center;
}
